<%- include('header') -%>

<div class="main">
  <h1> <%= title %> </h1>

<form action="/" method="post" enctype="application/x-www-form-urlencoded" class="row">
  <div class="form__col">
    <label class="input">Nafn</label>
    <input type="text" name="name" value="<%= data.name %>" class="<%= locals.isInvalid('name', errors) ?  'invalid__input' : 'valid__input' %>">
  </div>
  <div class="form__col">
      <label class="input">Netfang</label>
      <input type="text" name="email" value="<%= data.email %>" class="<%= locals.isInvalid('email', errors) ?  'invalid__input' : 'valid__input' %>">
    </div>
    <div class="form__col">
        <label class="input">Sími</label>
        <input type="text" name="phone" value="<%= data.phone %>" class="<%= locals.isInvalid('phone', errors) ?  'invalid__input' : 'valid__input' %>">
      </div>

      <div class="form__col">
          <label class="input" for="presentation">Kynning á þér:</label>
          <textarea rows="5" id="presentation" name="presentation" class="<%= locals.isInvalid('presentation', errors) ?  'invalid__input' : 'valid__input' %>"><%= data.presentation %></textarea>
        </div>

    <div class="col">
      <h2>Starf sem sótt er um:</h2>
    </div>
    <div class="col">
        <label class="<%= locals.isInvalid('job', errors) ?  'invalid__input' : '' %>">
            <% if (data.job == 'forritari') { %>
              <input class="radio__button" type="radio" name="job" value="forritari" checked>
            <% } else { %>
              <input class="radio__button" type="radio" name="job" value="forritari">
            <% } %>
            Forritari
        </label>
    </div>
    <div class="col">
        <label class="<%= locals.isInvalid('job', errors) ?  'invalid__input' : '' %>">
            <% if (data.job == 'hönnuður') { %>
              <input class="radio__button" type="radio" name="job" value="hönnuður" checked>
            <% } else { %>
              <input class="radio__button" type="radio" name="job" value="hönnuður">
            <% } %>
            Hönnuður
        </label>
    </div>
    <div class="col">
        <label class="<%= locals.isInvalid('job', errors) ?  'invalid__input' : '' %>">
            <% if (data.job == 'verkefnastjóri') { %>
              <input class="radio__button" type="radio" name="job" value="verkefnastjóri" checked>
            <% } else { %>
              <input class="radio__button" type="radio" name="job" value="verkefnastjóri">
            <% } %>
            Verkefnastjóri
        </label>
    </div>

    <%if (errors && errors.length > 0) { %>
        <h2 class="col">Vandræði við að senda umsókn:</h2>
    <% } %>
        <ul class="col">
    <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>

    <div class="col">
      <button>Senda umsókn</button>
    </div>
  </form>
</div>

<%- include('footer') -%>