<%- include('header') -%>

<div class="list">

    <h1> <%= title %> </h1>
<%if (rows == 0) { %>
  <p> Engar umsóknir </p>
<% } %>

<% rows.forEach((row) => { %>
  <div class="list__item">
    <div class="list__text">
      <h2><%= row.name %></h2>
      <a href="mailto:<%= row.email %>"><%= row.email %></a>
      <p>Sími: <%= row.phone %></p>
      <p>Umsókn send: <%= row.created %></p>
      <p class="list__presentation"><%= row.presentation %></p>
    </div>
    <div class="buttons__row">
      <div class="button__col">
      <form method="post" action="/applications/process/<%= row.id %>">
        <% if(row.processed == false) { %>
          <button class="button">Vinna umsókn</button>
        <% } %>
        <% if(row.processed == true) { %>
          <p> ✓ Umsókn unnin <%= row.updated %> </p>
        <% } %>
      </form>
      </div>
      <div class="button__col">
      <form method="post" action="/applications/remove/<%= row.id %>">
        <button class="button">Eyða umsókn</button>
      </form>
    </div>
    </div>
  </div>
  <br><br>

<% }) %>

</div>

<%- include('footer') -%>